### Python Calculation

In [3]:
print(2 + 3)

a = 3
b = 6
print(a * b)

a = 4
a = a + 1
b = 22
b = b - 5
c = 6
c *= a
print(a)
print(b)
print(c)

5
18
5
17
30

### Using Function

In [4]:
print(max(2, 6))
print(min(2, 6))

6
2

### Print Data Type

In [5]:
print(type(6))
print(type(4.5))
print(type('sss'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Change Data Type

In [6]:
print(type(5.4))
print(type(int(5.4)))

<class 'float'>
<class 'int'>

### Data Structure

tuple, list, dictionary
- tuple : immutable, i.e subject[1] = 96 XXXX
- list : mutable, i.e subject[1] = 96 OK
- dictionary : hash table

In [7]:
subject = (78, 95, 68, 62)

subject = [78, 95, 68, 62]
subject.append(89)
del subject[2]
print(subject)

score = {'math' : 85, 'english' : 30, 'science' : 100}
print(score)

[78, 95, 62, 89]
{'math': 85, 'english': 30, 'science': 100}